.rotatable {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* general layout */
header{color: white;}
.main-container{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
}
.main-container div:first-of-type{
   position: relative
 }

.main-title {
  padding-top: 30px;
  text-align: center;
}